.dialogBox{
    margin: 2px auto;
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
    width: 70%;
    background-color: rgb(236, 234, 234);
    border: 1px solid rgb(15, 15, 15);
    box-shadow: 1px 1px 1px rgb(212, 179, 179);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}